@using Microsoft.AspNetCore.Identity
@using X.PagedList.Mvc.Core
@using En_Luna.ViewModels
@inject UserManager<User> UserManager

@model SolicitationRoleIndexViewModel

@{
    ViewData["Title"] = "Contracts";
    ViewData["AddContainer"] = true;
    var user = await UserManager.GetUserAsync(User);
}

<div class="row mt-4">
    <div class="col">
        <h2>Active Contracts</h2>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="@($"/Solicitations/Search/{user.ContractorId}/1")">Search for Open Contracts</a>
    </div>
</div>

@if (Model.SolicitationRoles.Any())
{
    <div class="row mt-2">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Estimated End Date</th>
                        <th scope="col">Meeting Time</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SolicitationRoleViewModel item in Model.SolicitationRoles)
                    {
                        <tr>
                            <td>@item.Solicitation.Title</td>
                            <td>@item.Solicitation.StartDate.ToShortDateString()</td>
                            <td>@item.Solicitation.EstimatedEndDate.ToShortDateString()</td>
                            <td>@item.Solicitation.TeamMeetingTime.ToShortTimeString()</td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Contractors" asp-action="View" asp-route-id="@item.Id">View Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model.SolicitationRoles, page => Url.Action("Contracts", new { page }), En_Luna.Helpers.HtmlHelper.PagedListRenderOptions)
        </div>
    </div>
}
